/*.containerServicios{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #dbdbdb;
    background-image: url("https://res.cloudinary.com/mumbex/image/upload/v1660494919/fondo_mq1muz.jpg");
}
.containerServiciosResp{
    width: 90%;
    height: auto;
    display: flex;
    margin-top:40px;
    

}
.containerServiciosList{
    width: 70%;
    display: flex;
}
.containerServiciosImage{
    width: 30%;
    display: flex;
    align-items: center;
}
.derviciosImageRigth{
    width: 100%;
    position: sticky;
    top: 50px;


}
.derviciosImageRigth img{
    width: 80%;
    object-fit: cover;
    background-color: #181818;
    
}

*/